/* dark mode option */

:root {
    --bg-color: rgb(255, 255, 255);
    --text-color: rgba(0, 0, 0, 0.75);
    --nav-dir: row;
    --desc-dir: column;
}

@media (prefers-color-scheme: dark) {
     :root {
        --bg-color: rgb(51, 51, 51);
        --text-color: rgba(255, 255, 255, 0.904);
    }
    .logo img {
        filter: invert(80%);
    }
    .column>a>img {
        filter: invert(80%);
    }
}

body,
h1,
h2,
.navlinks,
footer,
.logo img,
.column>a>img,
#created {
    transition-property: background-color, color, border-color, filter;
    transition-duration: .70s;
    transition-timing-function: ease;
}

@media only screen and (max-device-width: 700px),
screen and (max-width: 700px) {
     :root {
        --nav-dir: column;
    }
    .navlink {
        font-size: 2em;
    }
}

@media only screen and (min-width: 650px) {
     :root {
        --desc-dir: row;
    }
    img {
        width: 100%;
        max-width: 50vw;
        max-height: 85vh;
        object-fit: contain;
    }
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color)
}

.logo {
    flex-grow: 1;
}

.logo>a>img {
    width: 60px;
    height: auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin-bottom: 20vh;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 5vw;
    font-weight: 300;
    color: var(--text-color);
}

p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    margin: 2px;
}

h2 {
    margin: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

.index-element {
    height: 100vh
}

.navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: var(--nav-dir);
    justify-content: flex-end;
    align-items: center;
}

.navlink>a {
    color: var(--text-color);
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding: 20px;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navlink>a:hover {
    color: rgb(152, 180, 174);
}

.centered {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 1.2em;
    max-width: 65%;
    min-width: 20%;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.describe-h1 {
    font-size: 4rem;
    margin: 0 0 0.75rem 0;
    font-weight: 200;
    text-align: left;
}

.describe-h2 {
    margin: 0 0 0.75rem 0;
    font-weight: 200;
    text-align: left;
}


/* Pattern styles */

section {
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: var(--nav-dir);
    justify-content: center;
    overflow: auto;
}

.image {
    flex: 1.2;
    padding: 2rem;
    height: auto;
}

.description {
    color: var(--text-color);
    font-weight: 200;
    font-family: sans-serif;
    flex: 1;
    padding: 2rem;
}

h1 {
    color: var(--text-color);
    text-align: left;
}

h2 {
    color: var(--text-color);
    text-align: left;
}


/* Code for footer */

#created {
    color: var(--text-color);
    margin-bottom: 10px;
    font-family: monospace;
}

.columns {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.column>a>img {
    padding: 0px;
    height: 5vh;
    width: auto;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    align-self: flex-start;
}

.column+.column {
    margin-left: 2%;
}